%p#notice= notice

%p
  %b Filename:
  = @cable.filename
%p
  %b Level:
  = @cable.level
%p
  %b Part type:
  = @cable.part_type
%p
  %b Item number:
  = @cable.item_number
%p
  %b Mfg part number:
  = @cable.mfg_part_number
%p
  %b Item description:
  = @cable.item_description
%p
  %b Type:
  = @cable.type
%p
  %b Conductor:
  = @cable.conductor
%p
  %b Number pairs:
  = @cable.number_pairs
%p
  %b Insulation:
  = @cable.insulation
%p
  %b Jacket:
  = @cable.jacket
%p
  %b Shielding:
  = @cable.shielding
%p
  %b Wire gauge:
  = @cable.wire_gauge
%p
  %b Diameter:
  = @cable.diameter
%p
  %b Putup:
  = @cable.putup
%p
  %b Color:
  = @cable.color
%p
  %b Multi:
  = @cable.multi
%p
  %b Stranding:
  = @cable.stranding
%p
  %b Kevlar core:
  = @cable.kevlar_core
%p
  %b Pitch:
  = @cable.pitch

= link_to 'Edit', edit_cable_path(@cable)
\|
= link_to 'Back', cables_path
