= form_for @user, html: {class: 'form-horizontal'} do |f|

  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.email_field :email, class: 'text_field', autocomplete: 'off'
  
  .control-group
    = f.label :roles, class: 'control-label'
    - Role.all.each do |role|
      .controls
        = check_box_tag "user[role_ids][]", role.id, (@user.roles.map(&:name).include? role.name)
        = role.name.titleize
      
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to "cancel", users_path, class: 'btn'
