<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'well form-horizontal', style: 'position: relative;'}) do |f| %>

  <div class="pull-right" id="cables-img">
  	<img class="cables-img" src="/assets/cables-arc.png" width="200px" />
  </div>
  
  <div class="control-group">
  	<%= f.label :email, class: 'control-label' %>
  	<div class="controls">
  		<%= f.email_field :email, class: 'text-field' %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :password, class: 'control-label' %>
  	<div class="controls">
  	<%= f.password_field :password %>
  	</div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
    	<div class="controls"> 
    	<%= f.check_box :remember_me %> Remember me
    	</div>
    </div>
  <% end -%>

  <div class="control-group">
    <div class="controls"> 
  		<%= f.submit "Sign in", class: 'btn btn-success' %>
  	</div>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>